{% extends 'JordiLlonchCrudGeneratorBundle::layout.html.twig' %}

{% block title %}
{{ parent() }} - {{ 'views.index.list'|trans({'%entity%': 'Fases'}, 'JordiLlonchCrudGeneratorBundle') }}
{% endblock %}

{% block page %}

<div class="row">

    <div class="span8">
        <h1>{{ 'views.index.list'|trans({'%entity%': 'Fases'}, 'JordiLlonchCrudGeneratorBundle') }}</h1>
    </div>
    <div class="span2">
        {% if form_errors(filterForm) %}
        <div class="alert alert-block alert-error fade in form-errors">
            {{ form_errors(filterForm) }}
        </div>
        {% endif %}
        &nbsp;
    </div>
    <div class="span2">
        <div class="filters-right">
            <a class="btn dropdown-toggle" data-toggle="collapse" data-target="#filters">
                {{ 'views.index.filters'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
                <span class="caret"></span>
            </a>
        </div>
    </div>

    <div class="span12">
        <div id="filters" class="collapse">

            <form class="well" action="{{ path('fases') }}" method="get" {{ form_enctype(filterForm) }}>
                {{ form_row(filterForm.id) }}
                {{ form_row(filterForm.numeroGrupos) }}
                {{ form_row(filterForm.sistemaJuego) }}
                {{ form_row(filterForm.puntosGanado) }}
                {{ form_row(filterForm.puntosEmpatados) }}
                {{ form_row(filterForm.puntosPerdidos) }}
                {{ form_row(filterForm.puntosForfeit) }}
                {{ form_row(filterForm.totalClasificadosAuto) }}
                {{ form_row(filterForm.totalClasificadosManual) }}
                {{ form_rest(filterForm) }}

                <p>
                    <button type="submit" name="filter_action" value="filter">{{ 'views.index.filter'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</button>
                    <button type="submit" name="filter_action" value="reset">{{ 'views.index.reset'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</button>
                </p>
            </form>
        </div>
    </div>

    <div class="span12">

    <table class="table table-striped table-bordered table-condensed">
    <thead>
        <tr>
            <th>Id</th>
            <th>Numerogrupos</th>
            <th>Sistemajuego</th>
            <th>Puntosganado</th>
            <th>Puntosempatados</th>
            <th>Puntosperdidos</th>
            <th>Puntosforfeit</th>
            <th>Totalclasificadosauto</th>
            <th>Totalclasificadosmanual</th>
            <th>{{ 'views.index.actions'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('fases_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.numeroGrupos }}</td>
            <td>{{ entity.sistemaJuego }}</td>
            <td>{{ entity.puntosGanado }}</td>
            <td>{{ entity.puntosEmpatados }}</td>
            <td>{{ entity.puntosPerdidos }}</td>
            <td>{{ entity.puntosForfeit }}</td>
            <td>{{ entity.totalClasificadosAuto }}</td>
            <td>{{ entity.totalClasificadosManual }}</td>
            <td>
        <a class="btn btn-mini" href="{{ path('fases_show', { 'id': entity.id }) }}">
            {{ 'views.actions.show'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
        </a>
        <a class="btn btn-mini" href="{{ path('fases_edit', { 'id': entity.id }) }}">
            {{ 'views.actions.edit'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
        </a>            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
    </div>

    <div class="span4">
    {{ pagerHtml|raw }}
    </div>

        <div class="span8">
    <a class="btn btn-primary likepaginator" href="{{ path('fases_new') }}">
            {{ 'views.index.createnew'|trans({}, 'JordiLlonchCrudGeneratorBundle') }} Fases
        </a>
    </div>
    </div>

{% endblock %}